@import '../css/cmps/home-page.css';
@import '../css/apps/mail/cmps/mail-nav.css';
@import '../css/apps/mail/pages/mail-app.css';
@import '../css/apps/mail/cmps/mail-preview.css';
@import '../css/apps/mail/cmps/mail-list.css';
@import '../css/apps/mail/cmps/mail-compose.css';
@import '../css/apps/keep/keep-app.css';
@import '../css/apps/keep/cmps/note-list.css';
@import '../css/cmps/user-msg.css';

/* TODO:add dark mode */

@font-face {
    font-family: Mate-SC;
    src: url('../fonts/Mate-SC/MateSC-Regular.ttf');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #2e2e2e;
    cursor: pointer;
}

a:hover {
    background-color: #cccfcf;
}

a:visited {
    color: #2e2e2e;
}

body .dark {
    background-color: #3e3e3e;
    color: whitesmoke;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: #2e2e2e;
    margin: 0;
    font-family: Mate-SC, sans-serif;
    font-size: 1.1rem;
}


/* darkmode button */

ul.tg.list {
    vertical-align: middle;
}

.app-header {
    box-sizing: unset;
}

.app-header ul,
.app-header li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px
}

.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-light+.tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.tgl-light+.tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}

.tgl-light:checked+.tgl-btn {
    background: #1e201f;
}


/* ====================== */

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

html {
    min-height: 100vh;
}

.app-header {
    display: flex;
    justify-content: space-between;
    background-color: gold;
    margin: 0;
    height: 8vh;
}

.logo {
    margin-left: 10px;
    align-self: center;
}

.main-nav {
    display: flex;
    flex-wrap: nowrap;
    align-self: center;
    object-fit: contain;
    gap: 7px;
}

.main-nav .router-link-exact-active {
    background-color: goldenrod;
    border-radius: 100%;
}

.main-nav img {
    object-fit: contain;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.main-nav a {
    padding: 5px
}

.main-nav a:hover {
    background-color: goldenrod;
    border-radius: 100%;
}

.main-nav img:hover {}

.app-footer {
    display: flex;
    width: 100%;
    height: 5vh;
    background: gold;
    margin-top: auto;
}

.app-footer p {
    align-self: center;
    margin-left: 10px;
}


/* HELPERS */

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}