/* main imports */

@import '../css/cmps/home-page.css';
@import '../css/cmps/user-msg.css';
@import '../css/pages/app-header.css';
@import '../css/pages/app-footer.css';

/* mail imports */

@import './cmps/main-nav.css';
@import './apps/mail/cmps/mail-expand.css';
@import '../css/apps/mail/cmps/mail-nav.css';
@import '../css/apps/mail/pages/mail-app.css';
@import '../css/apps/mail/cmps/mail-preview.css';
@import '../css/apps/mail/cmps/mail-list.css';
@import '../css/apps/mail/cmps/mail-compose.css';

/* keep imports */

@import '../css/apps/keep/keep-app.css';
@import '../css/apps/keep/cmps/note-list.css';
@import './apps/keep/cmps/note-preview.css';
@import './apps/keep/cmps/color-palette.css';

/* TODO:add dark mode */


/* FONTS */

@font-face {
    font-family: Mate-SC;
    src: url('../fonts/Mate-SC/MateSC-Regular.ttf');
}


/* GENERAL ELEMENTS */

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

a:hover {
    background-color: #cccfcf;
}

a:visited {
    color: #2e2e2e;
}


/* body .dark {
    background-color: #3e3e3e;
    color: whitesmoke;
} */

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
    color: whitesmoke;
    margin: 0;
    /* font-family: Mate-SC, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

html {
    min-height: 100vh;
}


/* ====================== */


/* darkmode button */


/* ul.tg.list {
    vertical-align: middle;
}

.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.tgl-light+.tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.tgl-light+.tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}

.tgl-light:checked+.tgl-btn {
    background: #1e201f;
} */


/* ====================== */


/* HELPERS */

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fa-envelope,
.fa-envelope-open,
.far.fa-star,
.fa-trash-alt {
    color: #3e3e3e;
}

.fas.fa-star {
    color: gold;
}