.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
    min-height: 87.5vh;
    padding: 50px 50px;
}

.home-page p {
    font-size: 1.5rem;
}

.img-homepage-1 {
    object-fit: contain;
    max-height: 270px;
}

.home-page p {
    padding: 0;
    margin: 0;
}

.header {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(32, 129, 194) 50%, #3e3e3e 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}