.note-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.note {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 200px;
    border: 1px black solid;
    padding: 5px;
    background-color: lightseagreen;
}

.note img {
    object-fit: contain;
}