.mail-nav {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-family: Mate-SC;
}

.mail-nav a {
    border-bottom: rgba(105, 105, 105, 0.315) 1px solid;
    padding: 5px;
    width: 200px;
    height: 60px;
    margin: 0;
    color: #fff !important;
}

.mail-nav a:hover {
    background-color: rgb(131, 130, 130);
}

.mail-nav a:first-child:hover {
    background-color: transparent;
    /* cursor: unset; */
}

.plus-icon {
    height: 40px;
}

.link-compose {
    display: flex;
    align-items: center;
    gap: 15px;
    border: grey 0.1px solid;
    border-radius: 3em;
    color: white;
}

.link-compose:hover {
    background-color: rgb(131, 130, 130);
    cursor: pointer;
}

.mail-nav .router-link-exact-active {
    background-color: rgb(117, 115, 115);
}