.mail-preview {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  align-items: center;
}

.mail-preview-container {
  display: flex;
  gap: 200px;
  /* border: 1px solid; */
}

.read {
  background-color: #cccfcf;
}

.unread {
  font-weight: bold;
}