.mail-preview {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 40px;
  align-items: center;
}

.mail-preview:hover .mail-preview-icons {
  display: flex;
}

.mail-preview-icons {
  display: none;
  position: absolute;
  right: 0;
  justify-content: space-between;
  width: 100px;
}

.read {
  background-color: #b3b8b8;
}

.unread {
  font-weight: bolder;
}

table {
  width: 100%;
  border: gold 1px solid;
  background-color: rgb(219, 217, 217);
}

.mail-preview-subject-td {
  display: inline-block;
}

.mail-preview-teaser {
  font-size: 0.8rem;
  font-weight: lighter;
}

tr.mail-preview-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  width: 100%;
}

td.mail-preview-subject-td {
  padding-inline-start: 30px;
}

.mail-preview {
  border-bottom: black 1px solid;
}

.mail-preview:hover {
  background-color: rgba(194, 224, 235, 0.294);
  box-shadow: #4e4e4e 1px 1px 2px;
  cursor: pointer;
}

td {
  color: #2e2e2e;
}

.fa-trash-alt:hover {
  animation: shake 0.4s linear 1;
}

@keyframes shake {
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
}