.keep-app {
    padding: 10px;
    min-height: 89vh;
}

.bulb-img {
    position: absolute;
    height: 200px;
    opacity: 0.9;
    right: 200px;
    top: -130px;
    transform: rotate(180deg);
    transform-origin: center bottom;
    animation: tilt 8s linear infinite;
}

@keyframes tilt {
    0% {
        transform: rotate(180deg);
    }
    10% {
        transform: rotate(181deg);
    }
    20% {
        transform: rotate(180deg);
    }
    30% {
        transform: rotate(179deg);
    }
    40% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(181deg);
    }
    60% {
        transform: rotate(180deg);
    }
    70% {
        transform: rotate(179deg);
    }
    80% {
        transform: rotate(180deg);
    }
    90% {
        transform: rotate(182deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.keep-icons {
    height: 50px;
    border-radius: 10px;
}

.keep-icons:hover {
    background-color: unset;
}

.select-note {
    border: none;
    /* padding: 0; */
    background-color: transparent;
    border-radius: 10px;
}

.select-note:hover {
    background-color: gold;
}

.notes-form {
    background-color: #5e5e5e;
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 210px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}

.btn-add-note {
    margin-bottom: 5px;
    width: 80px;
    height: 40px;
    background-color: #4e4e4e;
    color: whitesmoke;
    cursor: pointer;
}

.btn-add-note:hover {
    background-color: #858688;
}

.note-txt input {
    width: 300px;
    margin: 5px;
}

.note-txt textarea {
    margin: 5px;
    width: 500px;
    min-width: 330px;
    height: 100px;
    resize: none;
}

.type-buttons {
    background-color: #5e5e5e;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.isActive {
    background-color: gold;
}