/* home page */

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }
    .app-header {
        width: 100%;
    }
    .home-page p {
        font-size: 1rem;
    }
    .bg {
        animation: none !important;
        display: none;
    }
    .bulb-img {
        display: none;
    }
    .note-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .note-btns {
        opacity: 1
    }
    .note-txt input, .note-img input, .note-vid input, .note-todos input {
        min-width: none;
        width: 330px;
    }
    .note-txt textarea {
        min-width: none;
        width: 330px;
    }
    .mail-app {
        padding: 0;
        margin: 0;
    }
    .mail-app-header {
        height: 50px;
    }
    .mail-app-header h2 {
        font-size: 1.2rem;
        width: 200px;
        align-self: center;
    }
    .mail-app-header input {
        height: 40px;
    }
    .mail-nav {
        /* display: none; */
        /* transform: translate(-100%); */
    }
    .mail-list {
        font-size: 0.8rem;
        width: 100%;
    }
    .mail-preview-teaser {
        display: none;
    }
    td {
        width: 150px;
        padding: 5px;
    }
    td.mail-preview-subject-td {
        padding: 0
    }
    .mail-preview {
        border-bottom: none;
    }
    td:nth-child(3) {
        display: none;
    }
    .mail-preview-icons {
        display: block;
        right: -40px;
        margin: 0;
        left: unset;
    }
    tr.mail-preview-container {
        grid-template-columns: 1fr 2fr;
    }
    .mail-nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        border-inline-start: 1px solid #ccc;
        background-color: #6e6e6ecc;
        width: 200px;
        transform: translateX(100%);
        transition: transform .6s;
        z-index: 1;
    }
    body.menu-open .mail-nav {
        transform: translateX(0);
    }
    .main-header .mail-nav>*:not(:last-child) {
        margin-inline-end: 0;
    }
    .main-header .mail-nav a {
        display: block;
        padding: 1rem 0;
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
    .main-header .mail-nav a:hover {
        background-color: #f3f3f3;
    }
}

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}